*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins, sans-serif';
    outline: none;
}

.navbar {
    width: 100%;
    height:60px;
    /* position: relative; */
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 10px 0; */
    background-color:rgba(1, 49, 79, 0.985);
    /* background-color: rgba(12, 78, 119, 0.568); */
    position: sticky;
    /* top: 0; */

}
.navbar .logo
{
    width: 80px;
    height: 60px;
    

}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.navbar-brand {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.navbar-nav 
{
    margin-left: 630px;
}

.nav-item  {
    list-style: none;
    margin: 20px;
    padding: 0;
    display: inline-block;
}



.nav-link {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 25px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.nav-link:hover {
    color:black;
}

.hero{
    width: 100%;
    height: 100vh;
    /* background-image:url(../images/bck.jpg); */
    position: absolute;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
     /* background-image: url(../images/bck.jpg); */
     object-fit: cover;
     /*background-size: cover; */
}
.video-container
{
    width: 100%; /* Make the container take up the full width of its parent */
    max-width: 100%; /* Ensure the video doesn't exceed the width of its container */
    height: auto; /* Allow the height to adjust proportionally to the width */
    overflow: hidden;
    object-fit: cover;

}
.back-video
{
  position: fixed;
  right: 0;
  bottom:0;
  width: 100%;
  height: 100%;
  /* max-width:100%; */
  height: auto;
  z-index: -1;
  object-fit: cover;

}
.content
{
    text-align: center;
    margin-right: 400px;
    
}
.content h1{
    font-size: 100px;
    color:black;
    font-weight: 600;
    
}
.content a{
    text-decoration: none;
    display: inline-block;
    color: black;
    font-size: 24px;
    border:5px solid black;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    font-weight: bold;
}
/*About.css*/

.body{
    font-family: 'Poppins';
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: aqua;
    /* background-image: url(../images/bck.jpg); */

}
/* .body .back-video{
    width: 100%;
    height: 100vh;
} */
#about
{
    width: 100%;
    height: auto;
    background-image:url(../images/bck.jpg) ;
}
.row
{
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    overflow-x: hidden;
    padding: 5rem 0;
    /* transform: translate(-50%, -50%); */
    /* background-color: aqua; */
    background: url("../images/purple.jpg") no-repeat center center/cover;   

    background-color: aqua;
    backdrop-filter: blur(80px);
    -webkit-backdrop-filter: blur(10px);
}
.imgWrapper
{
    overflow: hidden;
}
.imgWrapper img
{
    width: 350px;
    height:350px;
    /* object-fit: cover; */
    background-size: cover;
    transition: 0.3s;
    margin-left: 150px;
    border: 4px solid rgba(12, 78, 119, 0.568);
    display: flex;
}
.imgWrapper:hover img
{
    transform: scale(1.25);
}
.row .contentWrapper
{
    /* width:100%; */
     display: flex; 
    /* justify-content:center;
    align-items:center; */
    padding-left:30px ;
    margin-right:300px;
    backdrop-filter: blur(50px);

}
.contentWrapper span.textwrapper
{
    /* display: block; */
    font-size: 20px;
    text-transform: capitalize;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;


}
.contentWrapper  h2{
    font-size: 40px;
    font-weight: bold;
    color: rgba(1, 49, 79, 0.985);
    padding-bottom: 20px;
    margin-top: 30px;
    margin-right: 150px;


}
.contentWrapper p{
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;

}
/*Contact.css*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} */

.container1{
    min-height: 100vh;
    background: #08071d;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../images/contact.jpg") no-repeat center center/cover;
}

.container1 form{
    width: 670px;
    height: 400px;
    display: flex;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
}

.container1 form h1{
    color: white;
    font-weight: 500;
    margin-top: 20px;
    width: 500px;
    text-align: center;
    font-weight: bold;
}

.container1 form input{
    width: 290px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid black;
}

.container1 form input::placeholder{
    color:white;
    font-size: 20px;
}

.container1 form #lastName,
.container1 form #mobile{
    margin-left: 20px;
}

.container1 form h4{
    color: black;
    font-weight: 300;
    width: 600px;
    margin-top: 20px;
}

.container1 form textarea{
    background: none;
    border: none;
    border-bottom: 2px solid black;
    color: white;
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    outline: none;
    min-width: 600px;
    max-width: 600px;
    min-height: 80px;
    max-height: 80px;
}

textarea::-webkit-scrollbar{
    width: 1em;
}

textarea::-webkit-scrollbar-thumb{
    background-color: rgba(194,194,194,0.713);
}

.container1 form #button{
    border: none;
    background: black;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    color: white;
    width: 100px;
    padding: 0;
    margin-right: 500px;
    margin-bottom: 30px;
    transition: 0.3s;
}

.container1 form #button:hover{
    opacity: 0.7;
}
/* register.css */
.container2{
    width: 100%;
    max-width: 650px;
    background: rgba(0, 0, 0, 0.5);
    padding: 28px;
    margin: 0 28px;
    border-radius: 10px;
    box-shadow: inset -2px 2px 2px grey;
    margin-right: 450px;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.form-title{
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 6px;
    color: white;
    /* text-shadow: 2px 2px 2px black; */
    border-bottom: solid 1px white;
}

.main-user-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;

}


.user-input-box:nth-child(2n){
    justify-content: center;
}

.user-input-box{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 15px;
    /* align-items: center; */
}

.user-input-box label{
    width: 95%;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0;
}

.user-input-box input{
    height: 40px;
    width: 100%;
    border-radius: 7px;
    outline: none;
    border: 1px solid grey;
    padding: 0 10px;
}

.gender-title{
    color:black;
    font-size: 24px;
    font-weight: 600;
    border-bottom: 1px solid white;
}

.gender-category{
    margin: 15px 0;
    color: black;
}

.gender-category label{
    padding: 0 20px 0 5px;
}

.gender-category label,
.gender-category input,
.form-submit-btn input{
    cursor: pointer;
}

.form-submit-btn{
    margin-top: 40px;
}

.form-submit-btn input{
    display: block;
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    border:none;
    border-radius: 3px;
    color: white;
    background: black;
}

.form-submit-btn input:hover{
    background: rgba(12, 78, 119, 0.568);
    color: rgb(255, 255, 255);
}

@media(max-width: 600px){
    .container{
        min-width: 280px;
    }

    .user-input-box{
        margin-bottom: 12px;
        width: 100%;
    }

    .user-input-box:nth-child(2n){
        justify-content: space-between;
    }

    .gender-category{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .main-user-info{
        max-height: 380px;
        overflow: auto;
    }

    .main-user-info::-webkit-scrollbar{
        width: 0;
    }
}
/* #abt
{
    min-height: 100vh;
    background: #08071d;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../images/bck.jpg") no-repeat center center/cover;   
} */

.body2{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/login.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.login1{
    width: 400px;
    background: #ffffff3f;
    border-radius: 8px;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.login1 .logo{
    text-align: center;
    margin-bottom: 16px;
}

.login1 .logo i{
    font-size: 32px;
}

.input_box span{
    font-size: 20px;
    font-weight: 500;
}

.input_box .icon{
    margin-bottom: 15px;
    position: relative;
}

.input_box .icon i{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translate(-50%, -50%);
    border-right: 2px solid #ccc;
    padding: 10px;
    font-size: 18px;
}

.input_box .icon input{
    padding: 10px;
    padding-left: 50px;
    width: 100%;
    border-radius: 8px;
    outline: none;
    border: 2px solid #ccc;
    font-size: 18px;
    box-shadow: 1px 1px 2px #00ffe0;
}

.login .forgot_password a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #000dff;
}

.login .forgot_password a:hover{
    text-decoration: underline;
}

.login button{
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0;
    cursor: pointer;
    background: linear-gradient(to right, #ff00b8, #00ffe0);
    color: #fff;
}

.login button:hover{
    background: linear-gradient(to left, #ff00b8, #00ffe0);
}

.login .signup{
    text-align: center;
    margin: 12px 0;
    font-size: 18px;
    font-weight: 500;
}

.login .social_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.login .social_icon a{
    border-radius: 50%;
    padding: 8px 10px;
    transition: all 0.4s ease;
}

.login .social_icon a:hover{
    transform: scale(1.2);
}

.login .social_icon a i{
    font-size: 24px;
    color: #fff;
}

.social_icon #facebook{
    background-color: #0047ff;
}

.social_icon #twitter{
    background-color: #0094ff;
}

.social_icon #google{
    background-color: #ff0000;
}

.social_icon #github{
    background-color: #000;
}

.login .alreadyAccount p{
    font-size: 14px;
    margin-top: 15px;
    text-align: center;
}

.login .alreadyAccount p a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000dff;
}

.login .alreadyAccount p a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 425px) {
    .login{
        width: 93%;
    }
}
