{% extends 'navbar.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>

     
        {% block content %}
        {{key}}

        <div class="hero">
            <div class="video-container">
          <video autoplay loop muted class="back-video">
             <source src="{% static 'video/name.mp4' %}" type="video/mp4">
            </video>
        </div>
        <div class="container2">
            <h1 class="form-title">Registration</h1>
            <form action="{% url 'registerdata' %}" method="post">
              {% csrf_token %}

              <div class="main-user-info">
                <div class="user-input-box">
                  <label for="fullName">Full Name</label>
                  <input type="text"
                          id="fullName"
                          name="name"
                          placeholder="Enter Full Name"/>
                </div>
                </div>
                <div class="user-input-box">
                  <label for="email">Email</label>
                  <input type="email"
                          id="email"
                          name="email"
                          placeholder="Enter Email"/>
                </div>
                <div class="user-input-box">
                  <label for="password">Password</label>
                  <input type="password"
                          id="password"
                          name="password"
                          placeholder="Enter Password"/>
                </div>
                <div class="user-input-box">
                  <label for="confirmPassword">Confirm Password</label>
                  <input type="password"
                          id="confirmPassword"
                          name="Cpassword"
                          placeholder="Confirm Password"/>
                </div>
                <div class="form-submit-btn">
                    <input type="submit" value="Register">
                  </div>
              </div>
              
            </form>
          </div>
        </div>

        {% endblock %}
    
   
</body>
</html>